nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: bisque;
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: rgb(99, 31, 12);
  transition: all 0.3s;
}

nav :hover {
  color: rgb(216, 6, 209);
}